parameters:
    level: 7
    ignoreErrors:
        - message: '~Parameter #1 $key of method [a-zA-Z0-9\\_]+::validateIdentifier() expects int|string, stdClass given.~'
          path: %currentWorkingDirectory%/tests/Unit/ArgumentsCollectionTest.php
        - message: '~Parameter #1 $key of method [a-zA-Z0-9\\_]+::validateIdentifier() expects int|string, stdClass given.~'
          path: %currentWorkingDirectory%/tests/Unit/OptionsCollectionTest.php
